// if
@mixin profile-pict($size, $circle: false) {
    width: $size;
    height: $size;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba($color: black, $alpha: 0.3);


    @if $circle {
        border-radius: 50%;
    }
}

.square-profile {
    @include profile-pict(200px, $circle: false );
}

.circle-profile {
    @include profile-pict(100px, $circle: true );
}